.Searchbar{
    display: flex;
    justify-content: center;
    color: green;
    min-height: 25px;
}
.Search {
    display: flex;
    border: 1px solid black;
}
.Search input {
    border: none;
}
.Search input:focus {
    outline: none;
}